body{
    font-family: "Lexend Deca", serif;
}
.main{
    margin: 0% 10% ;
}
.top{
    margin: 5% 0%;
    display: flex;
    justify-content: space-between;
}
.mid {
    display: flex;
    background-color: blue;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
    padding: 10px; /* Add some spacing */
}

.card {
    flex: 0 0 250px; /* Fixed width of 200px, no shrinking or growing */
    margin: 0px 10px; /* Reduce margin for better spacing */
    border-radius: 5px;
    background-color: darkgreen;
    width: 250px; /* Ensure consistent width */
}
.card-top{
    color: whitesmoke;
    text-align: center;
    padding: 5px 0px;
    background-color: purple;
}
.card-mid{
    padding: 20px 40px;
}
.card-mid-detail{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 7px;
    margin: 15px 0px;
}
.mid-bottom button{
    width: 150px;
    color: white;
    background-color: red;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 5px;
}
